{% extends 'base.html' %}
{% block content %}
{% load static %}
{%load crispy_forms_tags%}
  <body>
  {% block header %}
    <header>
      {%endblock%}
    </header>

    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="POST">
        {%csrf_token%}
        <div class="form-group">
          {{form|crispy}}
<!--          <input type="email" name="email" placeholder="Email" />-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <input type="password" name="password" placeholder="Hasło" />-->
<!--          <a href="#" class="btn btn&#45;&#45;small btn&#45;&#45;without-border reset-password">Przypomnij hasło</a>-->
<!--        </div>-->

        <div class="form-group form-group--buttons">

          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
        </div>
      </form>
         <small class="text-muted">
          Nie masz jeszcze konta ?<a href="{% url 'registration'%}" class="btn">Załóż konto</a>
              </small>
    </section>
{% endblock%}

